<!DOCTYPE html>
<html>
  <head>
    <title>NSF Awards API Scanner</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>
  <body>
    <h1>Welcome to the NSF Awards API Scanner</h1>
    <p>This is an example of an external system that can provide additional
    metadata to the DMP Registry.</p>
    <p>Enter a set of DMPTool plan ids (separated by commas) into the box and then
       click the button to retrieve the plans from the DMPTool, send them to the
       DMPHub (where they will be assigned DOIs) and then scan the NSF Awards API.</p>
    <textarea name="plan_ids" rows="8" cols="80"></textarea>
    <button>Scan for Award Information</button>
    <br>
    <div class="results">
      <ol>
      </ol>
    </div>
  </body>
</html>
