<!DOCTYPE html>
<html>
  <head>
    <title>NSF Awards API Scanner</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>
  <body>
    <h1>Welcome to the NSF Awards API Scanner</h1>
    <p>This is an example of an external system that can provide additional
    metadata to the DMPhub.</p>
    <p>Click the following button to retrieve a list of recent DOIs from the
    DMPhub and then scan the NSF API for matches</p>
    <button>Scan for Award Information</button>
    <br>
    <div class="results">
      <ol>
      </ol>
    </div>
  </body>
</html>
